# clang-format version 14.0.6
UseTab: Never
IndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterFunction: true
  AfterUnion: true
  BeforeElse: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeLambdaBody: true
  BeforeWhile: true
  AfterControlStatement: Always
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
AlignAfterOpenBracket: Align
BreakInheritanceList: BeforeComma
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeComma
AllowAllArgumentsOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
PointerAlignment: Left
ReferenceAlignment: Left