UseTab: Never
IndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterFunction: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
AlignAfterOpenBracket: Align
BreakInheritanceList: BeforeComma
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeComma
AllowAllArgumentsOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
PointerAlignment: Left
ReferenceAlignment: Left