UseTab: Never
IndentWidth: 4
BreakBeforeBraces: Allman
AlignAfterOpenBracket: Align
BreakInheritanceList: BeforeComma
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeComma
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
PointerAlignment: Left
ReferenceAlignment: Left